# Create an application to obtain credentials at
# https://developer.paypal.com/dashboard/applications/sandbox

PAYPAL_CLIENT_ID=AVZIKK_MrSDG0qthsUM-I5ZXv2QSxGBP38IQThBid-b3iwxqPNl8Mpw4qda7gt7Wl0RUd4hHyTvugfwT
